{% extends 'layout.html' %}

{% block title %}Add Anime{% endblock %}

{% block header %}
    <h1>Add a New Anime</h1>
{% endblock %}

{% block content %}
    <form action="{{ url_for('add_anime') }}" method="post">
        <label for="anime_name">Anime Name:</label>
        <input type="text" id="anime_name" name="anime_name" required><br>

        <label for="english_name">English Name:</label>
        <input type="text" id="english_name" name="english_name"><br>

        <label for="other_name">Other Name:</label>
        <input type="text" id="other_name" name="other_name"><br>

        <label for="synopsis">Synopsis:</label>
        <textarea id="synopsis" name="synopsis" rows="4" cols="50" required></textarea><br>

        <label for="type_anime">Type:</label>
        <input type="text" id="type_anime" name="type_anime"><br>

        <label for="genres">Genres:</label>
        <input type="text" id="genres" name="genres"><br>

        <button type="submit">Add Anime</button>
    </form>
{% endblock %}
