<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Anime App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- Navbar placed at the top of the page -->
    <nav>
        <a href="{{ url_for('index_page') }}">Home</a>
        <a href="{{ url_for('add_anime') }}">Add a New Anime</a>
        <a href="{{ url_for('studios_page') }}">Anime Studios</a>
        <a href="{{ url_for('top_100_page') }}">Top 100</a>
    </nav>

    <!-- Flash Messages -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul class="flashes">
                {% for category, message in messages %}
                    <li class="flash {{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <header>
        <h1>{% block header %}Anime App{% endblock %}</h1>
    </header>

    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <footer>
        <p>&copy; 2024 Anime App</p>
    </footer>
</body>
</html>
